@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.containerA{
  width: 95%;
  margin: 0 auto;
}


.radar-spinner, .radar-spinner * {
      box-sizing: border-box;
    }

    .radar-spinner {
      height: 60px;
      width: 60px;
      position: relative;
    }

    .radar-spinner .circle {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      animation: radar-spinner-animation 2s infinite;
    }

    .radar-spinner .circle:nth-child(1) {
      padding: calc(60px * 5 * 2 * 0 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(2) {
      padding: calc(60px * 5 * 2 * 1 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(3) {
      padding: calc(60px * 5 * 2 * 2 / 110);
      animation-delay: 300ms;
    }

    .radar-spinner .circle:nth-child(4) {
      padding: calc(60px * 5 * 2 * 3 / 110);
      animation-delay: 0ms;
    }

    .radar-spinner .circle-inner, .radar-spinner .circle-inner-container {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: calc(60px * 5 / 110) solid transparent;
    }

    .radar-spinner .circle-inner {
      border-left-color: green;
      border-right-color: green;
    }
    

    @keyframes radar-spinner-animation {
      50% {
        transform: rotate(180deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }


    /* audio player */
.rhap_container {
  background-color:rgb(18,18,18) !important;
  border-radius: 0.5rem;
}
.rhap_play-pause-button {
  color: #22c55e !important;
}

.rhap_container {
  direction: ltr !important;
}


.rhap_container {
  background-color: gray;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.rhap_play-pause-button svg {
  color: #22c55e;
}


.rhap_main-controls-button, .rhap_time {
  font-family: 'Cairo', sans-serif;
  direction: ltr;
}
